.table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: 'Roboto';
}
.table:last-child {
  border: none;
}
.table-header {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.table-header-row {
  display: flex;
  font-weight: bold;
  padding: 20px 10px;
  width: 100%;
}
.table-header__cell {
  display: flex;
  flex: 1;
  border-right: 2px solid #ccc;
  padding-left: 10px;
}
.actions-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 5px;
}
.material-icons {
  display: none;
  cursor: pointer;
  color: #ccc;
}

.material-icons:hover {
  background: rgb(245, 245, 245);
  border-radius: 50%;
}
.table-header__cell:hover .material-icons {
  font-size: 19px;
  display: block;
}
.menuBtn {
  margin-left: auto;
}
.table-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
}
.table-row:hover {
  background: rgb(245, 245, 245);
}
.table-row__cell {
  flex: 1;
  padding-left: 10px;
}
.arrow[data-asc='true'] {
  transform: rotate(180deg);
}
.arrow[data-asc='false'] {
  transform: rotate(360deg);
}
.header-sort-btn {
  cursor: pointer;
}
/* Menu styles */
.drop-down__menu {
  display: none;
  font-family: 'Roboto';
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu-item:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.filter-menu-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 30px 20px;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100px;
}
.filter-value {
  padding: 5px;
  border: 1px solid #ccc;
}
.filter-value::placeholder {
  font-size: 14px;
}
.btn-clean {
  cursor: pointer;
}
.btn-exit {
  position: absolute;
  right: 10px;
  top: 5px;
}
/* Pagination styles */
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dropdown-pagination-container {
  margin-left: 20px;
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.drop-pag-item {
  /* display: none; */
  display: block;
  margin-left: 3px;
  border: 1px solid #ccc;
}
.page-num-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.page-number {
  display: block;
  margin-left: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
